
*{
    background-color:beige;

   
}
#container1{
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    box-sizing:content-box;
    padding: 20px;
    border: 2px solid black;
    margin-top:100px;
    line-height: 50px;
    width: 500px;
    margin-left:470px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: 5px 4px 0px black;

     
}
.Father-container{
    align-items: center;
    
    
    
    

}
button{
    background-color: red;
    padding: 8px 20px;
    margin-top: 40px;
    box-shadow: 5px 4px 0px black;
    
}
.button:hover{
    background-color: red;
    padding: 8px 20px;
    margin-top: 45px;
    margin-left: 4px;
    cursor: pointer;
    box-shadow: 2.5px 2px 0px black;
    

}

input{
    background-color:azure;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 4px 6px rgba(0, 0, 0, 0.2);
    
}
h1{
    background-color:bisque


}
input-box1{
    background-color:black;
}
.container2{
    display: flex;
    flex-direction:column;
    align-items: center;
    border:2px solid black;
    width:200px;
    height: 200px;
    border-radius: 20px;
    background-color:azure;
    margin-left: 50px;
    margin-top: 70px;
    box-shadow: 5px 4px 0px black;
    

}

h3{
    background-color: azure;
    font-family: OCR A Std, monospace;
}
.max-container{
    display: flex;
    display: none;
    
      
}

p{
    background-color: azure;
    font-family: OCR A Std, monospace;

}




.deleteButton{
    background-color: red;
    padding: 8px 20px;
    margin-top: 40px;
    box-shadow: 5px 4px 0px black;

    
    
}
.deleteButton:hover{
    background-color: red;
    padding: 8px 20px;
    margin-top: 45px;
    margin-left: 4px;
    cursor: pointer;
    box-shadow: 3px 2px 0px black;
    
    

}









